<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>XSLTProcessor</key>
    <dict>
      <key>75</key>
      <dict>
        <key>FilterName</key>
        <string>XSLT Processor</string>
        <key>InputFile</key>
        <string>${il:destbasename}.xml</string>
        <key>OutputFile</key>
        <string>${il:destbasename}-raw.html</string>
        <key>Stylesheet</key>
        <string>/files/share/upCast/xsl/docbook/xhtml/01-zzf-customHTML.xsl</string>
        <key>XSLTParameters</key>
        <string></string>
        <key>XSLTProcessor</key>
        <string>saxon</string>
      </dict>
      <key>76</key>
      <dict>
        <key>FilterName</key>
        <string>XSLT Processor</string>
        <key>InputFile</key>
        <string>${il:destbasename}-raw.html</string>
        <key>OutputFile</key>
        <string>${il:destbasename}-clean.html</string>
        <key>Stylesheet</key>
        <string>/files/share/upCast/xsl/docbook/xhtml/01-basic-cleanHTML.xsl</string>
        <key>XSLTParameters</key>
        <string></string>
        <key>XSLTProcessor</key>
        <string>saxon</string>
      </dict>
      <key>77</key>
      <dict>
        <key>FilterName</key>
        <string>XSLT Processor</string>
        <key>InputFile</key>
        <string>${il:destbasename}-clean.html</string>
        <key>OutputFile</key>
        <string>${il:destbasename}-index.html</string>
        <key>Stylesheet</key>
        <string>/files/share/upCast/xsl/docbook/xhtml/01-splitHTML.xsl</string>
        <key>XSLTParameters</key>
        <string></string>
        <key>XSLTProcessor</key>
        <string>saxon</string>
      </dict>
      <key>78</key>
      <dict>
        <key>FilterName</key>
        <string>XSLT Processor</string>
        <key>InputFile</key>
        <string>${il:destbasename}-clean.html</string>
        <key>OutputFile</key>
        <string>${il:destbasename}-toc.html</string>
        <key>Stylesheet</key>
        <string>/files/share/upCast/xsl/docbook/xhtml/01-splitTOC.xsl</string>
        <key>XSLTParameters</key>
        <string></string>
        <key>XSLTProcessor</key>
        <string>saxon</string>
      </dict>
      <key>87</key>
      <dict>
        <key>FilterName</key>
        <string>XSLT Processor</string>
        <key>InputFile</key>
        <string>${il:destbasename}.xml</string>
        <key>OutputFile</key>
        <string>${il:destbasename}-fast-raw.xml</string>
        <key>Stylesheet</key>
        <string>/files/share/upCast/xsl/fast01.xsl</string>
        <key>XSLTParameters</key>
        <string></string>
        <key>XSLTProcessor</key>
        <string>saxon</string>
      </dict>
    </dict>
    <key>application</key>
    <dict>
      <key>locations</key>
      <dict>
        <key>configurations</key>
        <string>D:\temp\rte-part02.plist</string>
        <key>configurationsBCF</key>
        <string>U:\DiPP\XML\upcast\demo\demo.bcf</string>
        <key>licenses</key>
        <string>U:\XML\upcast\Server-Lizenz\upcast.license</string>
        <key>xslfiles</key>
        <string>D:\XSL\fast01.xsl</string>
      </dict>
      <key>name</key>
      <string>upCast</string>
      <key>stats</key>
      <dict>
        <key>CharacterCounter</key>
        <integer>6839133</integer>
        <key>ConversionCounter</key>
        <integer>290</integer>
        <key>StartDate</key>
        <string>Wed, 11 Aug 2004 11:05:04 CEST</string>
      </dict>
      <key>version</key>
      <integer>1314</integer>
      <key>xml</key>
      <dict>
        <key>CatalogFile</key>
        <string>file:///files/share/upCast/catalog/catalog</string>
      </dict>
    </dict>
    <key>converter</key>
    <dict>
      <key>Dflt</key>
      <dict>
        <key>SwingPLAF</key>
        <string>com.sun.java.swing.plaf.windows.WindowsLookAndFeel</string>
        <key>imageDir</key>
        <string></string>
        <key>inFilterClass</key>
        <string>de.infinityloop.upcast.importfilters.NoopImportFilter</string>
        <key>inFilterInstID</key>
        <string>2</string>
        <key>inputFile</key>
        <string>D:\temp\rte\Artikel\Kienzl_Praezisionsguss-mod2.rtf</string>
        <key>instanceID</key>
        <integer>87</integer>
        <key>outFilterClass0</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass1</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass2</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass3</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass4</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass5</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass6</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterClass7</key>
        <string>de.infinityloop.upcast.exportfilters.ExportFilter10</string>
        <key>outFilterCount</key>
        <integer>5</integer>
        <key>outFilterInstID0</key>
        <string>75</string>
        <key>outFilterInstID1</key>
        <string>76</string>
        <key>outFilterInstID2</key>
        <string>77</string>
        <key>outFilterInstID3</key>
        <string>78</string>
        <key>outFilterInstID4</key>
        <string>87</string>
        <key>outFilterInstID5</key>
        <string>77</string>
        <key>outFilterInstID6</key>
        <string>78</string>
        <key>outFilterInstID7</key>
        <string>78</string>
        <key>outputDir</key>
        <string>D:\temp\rte\Artikel\Kienzl2\</string>
      </dict>
      <key>UserInstanceID</key>
      <string>Dflt</string>
    </dict>
    <key>global</key>
    <dict>
      <key>TimedExecutionSilentOp</key>
      <string>true</string>
      <key>TimedExecutionSwitch</key>
      <false />
    </dict>
</dict>
</plist>
